.searchMovieContainer {
  width: 1100px;
  margin: 0 auto;
}

.title {
  font-size: 100px;
  font-weight: 1000;
  margin: 50px 0 100px 0;
}

.movieCount {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
}
